@import './base-slide-responsive.styl'
@import './base-notes.styl'
@import './slide_poster.styl'
@import './slide_fullscreen-media.styl'

section
  font-size 4rem

code[class*="language-"]
pre[class*="language-"]
  border none
  color #222
  font-family monospace
  font-size 1rem
  font-weight 300
  line-height calc(1 / 0.6)
  margin 0
  padding 0
  // .token.string
    // font-style italic
