.slide_poster
  align-items stretch
  box-sizing border-box
  justify-content space-between
  padding 2rem

.slide_poster-header
  align-items center
  display flex
  font-size 1.5rem
  justify-content center

.slide_poster-author
.slide_poster-twitter
  flex 1 1 0

.slide_poster-author
  text-align right

.slide_poster-avatar
  --avatar-size 5rem
  border-radius 50%
  height var(--avatar-size)
  margin 0 2rem
  width var(--avatar-size)

.slide_poster-title
  align-items center
  display flex
  flex 1 1 0
  flex-direction column
  font-size 3rem
  justify-content center
  text-align center

.slide_poster-maintitle
  font-size 3rem

.slide_poster-subtitle
  font-size 2rem

.slide_poster-footer
  align-items center
  display flex
  font-size 1.5rem
  justify-content space-between

.slide_poster-organization
  height 3rem
  object-fit contain
  object-position left center
  width calc(var(--slide-width) / 3)

.slide_poster-details
  text-align right
