.tpl-poster
  align-items stretch
  background-color #ffc170
  background-color #ff9
  // background-color #33b59b
  box-sizing border-box
  color #115447

  font-family underwood
  justify-content space-between
  // padding 2rem

.tpl-poster-header
  align-items flex-end
  align-self flex-start
  display flex
  font-size 1.5rem
  justify-content center

  background-color #454545
  border 0.5rem solid #33b59b
  border-radius 0.5rem
  color white
  padding 2rem 1.5rem 1rem 1.5rem
  transform rotate(-5deg) translate3d(-2rem, -3rem, 0)

.tpl-poster-author
.tpl-poster-twitter
  flex 1 1 0

.tpl-poster-author
  margin-right 2rem
  // text-align right

.tpl-poster-avatar
  --avatar-size 5rem
  border-radius 50%
  height var(--avatar-size)
  margin 0 2rem
  order -1
  width var(--avatar-size)

.tpl-poster-title
  align-items center
  align-self center
  // background-color #1e806c
  // border 0.25rem solid #454545
  border-radius 1rem
  color #454545
  display flex
  flex-direction column
  justify-content center
  padding 1.5rem
  text-align center

.tpl-poster-maintitle
  font-size calc(3rem * var(--font-factor))
  font-weight bold

.tpl-poster-subtitle
  font-size calc(2.5rem * var(--font-factor))

.tpl-poster-footer
  align-items center
  display flex
  font-size 1.5rem
  justify-content space-between

.tpl-poster-organization
  align-self flex-end
  height 3rem
  margin 0 0 2rem 1.5rem
  object-fit contain
  object-position left center
  width calc(var(--slide-width) / 3.5)

.tpl-poster-details
  background-color #454545
  border .5rem solid #33b59b
  border-radius .5rem
  color white
  display flex
  flex-direction column
  padding 1rem 2.5rem 2rem 1.5rem
  transform rotate(-5deg) translate3d(2rem, 2.5rem, 0)
  text-align right
  // text-shadow 0 0 0.5rem #000

.tpl-poster-hashtags
  order 1
