.tpl-code-stuff
  background-color #2179c5
  color #fff
  font-family OperatorMono
  font-size calc(3.5rem * var(--font-factor))
  font-weight bold
  text-align center

.tpl-code-stuff strong
  color #ff9
